nav {
    background: #1E1E1E;
    text-align: center;
    width: 100%;

    ul,
    li {
        margin: 0;
        list-style: none;
    }

    h2 {
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    img {
        border-radius: 100px;
        margin: 2rem;
    }
}