nav {
    background: #1E1E1E;
    text-align: center;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;

    ul,
    li {
        margin: 0;
        list-style: none;
    }

    h2 {
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    img {
        border-radius: 100px;
        margin: 2rem;
        height: 150px;
        width: 150px;
    }
}